@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');
@import url(../font/Nohemi/nohemi-sve.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
  }

body{
    font-family: 'Roboto', sans-serif;
    background-color: #E8E5E2;
}

button{
    border: 0;
    padding: 0;
    background: transparent;
    color: inherit;
    cursor: pointer;
}

a.active{
    color: #1E1E1E;
}

#header{
    height: 100vh;
}

#header a{
    color: #E8E5E2;
    text-decoration: none;
}

#projects{
    background-color: blue;
    height: 100vh;
}

.navbar{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    background-color: #1E1E1E;
    transition: top ease-in 0.3s;
    box-shadow: 0px 11px 15px rgba(30, 30, 30, 0.6);
    font-family: "NohemiSemBd";
}

.navbar.nav-hidden{
    top: -65px;
    transition: top ease-in 0.4s;
}

.navbar-menu{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    translate: -100% 0;
    width: 200px;
    height: 100%;
    padding: 20px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    background: #1E1E1E;
    visibility: hidden;
    transition: translate 0.3s;
}

body.open .navbar-menu{
    translate: 0 0;
    visibility: visible;
}

.navbar-title{
    margin: 0;
    font-size: 16px;
}

.navbar-menu > button{
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    padding: 0 8px;
}

.navbar-menu > button.active{
    color: inherit;
}

.navbar-overlay{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

body.open .navbar-overlay{
    visibility: visible;
    opacity: 1;
}

.navbar-burger{
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 64px;
    height: 64px;
    padding: 0;
    background-image: url(../pictures/icons/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/* HEADER */

.header-naslov{
    position: relative;
    top: 0;
    left: 0;
}

.header-h1 h1{
    position: absolute;
    top: 339px;
    left: 188px;
    font-family: 'NohemiBlack';
    font-size: 13.333vw;
    line-height: 201px;
    color: #1E1E1E;
}

.header-p{
    position: absolute;
    top: 500px;
    left: 223px;
    font-family: 'NohemiLight';
    font-size: 4.167vw;
    line-height: 80px;
    color: #1E1E1E;
}

/* ABOUT */

#about{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.about{
    background-color: #191919;
    color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    height: 50%;
    flex-basis: 50%;
    margin: 20px;
}

.druga{
    background-color: #e24040;
    color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    height: 50%;
    flex-basis: 50%;
    margin: 20px;
}

/* PORTFOLIO */

#portfolio{
    height: 100%;
    height: 100vh;
}

.lucky-cat{
    display: flex;
}

.lucky-naslov{
    flex-basis: 50%;
}

.lucky-text{
    flex-basis: 50%;
}

.lucky-button a{
    border-radius: 10px;
    color: #f0f0f0;
    text-decoration: none;
    background-color: rgb(94, 94, 181);
    padding: 10px;
}

.lucky-button a:hover{
    background-color: rgb(254, 181, 79);
    transition: 0.3s;
}