/* PHONE + */

@media only screen and (min-width: 640px){

    
}

/* TABLET + */

@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 992px){
    .header-h1 h1 {
        font-size: 800%;
    }
}

/* LAPTOP + */

@media only screen and (min-width: 1024px){
    /* NAVBAR */

    .navbar{
        justify-content: space-between;
        padding: 0 0 0 16px;
    }
    
    .navbar-menu{   
        position: static;
        translate: 0 0;
        width: auto;
        background: transparent;
        flex-direction: row;
        visibility: visible;
    }
    
    .navbar-menu > button{
        color: rgba(0, 0, 0, 0.5);
    }
    
    .navbar-overlay{
        display: none;
    }
    
    .navbar-burger{
        display: none;
    }


    /* HEADER */

    
}

@media only screen and (min-width: 1165px){
    /* HEADER */

    .header-h1 h1 {
        position: absolute;
        top: 339px;
        left: 188px;
        font-size: 13.333vw;
        line-height: 201px;
    }
}


/* DESTOP + */

@media only screen and (min-width: 1280px){


}