
/* small devices (mobile, 576px and up) */
@media (min-width: 576px) {
    .header-link a{
        color: rgba(246, 246, 246, 0.8);
        display: inline-block;
        font-size: 2rem;
        position: absolute;
        left: 50%;
        top: 67%;
        transform: translate(-50%,-50%);
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  #cetri h2{
    width: 40%;
}

  .form-map{
    display: flex;
  }

  .map{
    flex-basis: 60%;
    width: 100%;
}

/* forma */

  .form{
      flex-basis: 40%;
  }
 }

 @media(max-width:1000px){

  .item{
    margin:0; transform:scale(.9)
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

  .specials .nav-link {
    border: 0;
    padding: 15px;
  }
  .specials .nav-link.active {
    color: #fff;
    background: #ffb03b;
  }

  .trc-text{
    font-size: 110%;
    padding-top: 8%;
  }
}

/* Extra extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) { 
    
  #cetri h2{
    width: 20%;
}

}